<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='seller/style.css') }}">
</head>
<body>

    {% include 'partials/popup.html' %}
    {% include 'partials/notification.html' %}

    <div class="container">
        <h2>Seller Registration</h2>
        <form id="sellerForm">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="你是測試用賣家" required>
            </div>
            <div class="input-group">
                <i class="fa fa-phone"></i>
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" value="09123456789" required>
            </div>
            <div class="input-group">
                <i class="fa fa-comments"></i>
                <label for="line">Line:</label>
                <input type="text" id="line" name="line" value="mencrp" required>
            </div>
            <div class="input-group">
                <i class="fa fa-building"></i>
                <label for="company">Company:</label>
                <input type="text" id="company" name="company" value="第一大集團" required>
            </div>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="w@w.com" required>
            </div>
            <button type="submit"><i class="fa fa-paper-plane"></i> Register</button>
        </form>
    </div>

<script src="{{ url_for('static', filename='seller/script.js') }}"></script>
</body>
</html>
